@import '../../../../scss/imports';

:host {
  &.focus ::ng-deep input + label.input-lbl,
  .container.filled ::ng-deep input + label.input-lbl {
    padding: $label-focus-padding;
    font-size: $label-focus-font-size;
  }
  ::ng-deep {
    input {
      @extend %block-relative-fw;
      height: auto;
      background: transparent;
      border: none;
      padding: $input-padding;
      font-size: $input-font-size;
      z-index: 10;
    }
    button {
      @extend %block-absolute;
      top: 0;
      right: 0;
      width: $input-height;
      height: $input-height;
      border: none;
      background: transparent;
      cursor: pointer;
      z-index: 16;
    }
  }
  .container {
    @extend %block-relative-fw;
    &.has-btn {
      ::ng-deep {
        input {
          padding: $input-padding-with-button;
        }
      }
    }
    &.has-unit-selector {
      ::ng-deep {
        input {
          padding: $input-padding-with-selector;
        }
        unit-selector {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 16;
        }
      }
    }
    &.has-btn.has-unit-selector {
      ::ng-deep {
        input {
          padding: $input-padding-with-btn-and-sel;
        }
        unit-selector {
          right: $input-height;
        }
      }
    }
  }
  label.input-lbl {
    @extend %block-absolute-tl0;
    padding: $label-init-padding;
    font-size: $input-font-size;
    z-index: 15;
  }
}
