@import '../../../../scss/imports';

:host {
  .container {
    @extend %block-relative;
    width: $input-height * 2;
    height: $input-height;
    line-height: $input-height;
    &:before,
    &:after {
      @extend %clearfix;
    }
    > div {
      @extend %block-relative-fh;
      width: 50%;
      float: left;
    }
  }
  ::ng-deep {
    input[type="radio"] {
      display: none;
      + label {
        @extend %block-relative-fw-fh;
        text-align: center;
      }
      &:checked {
        + label {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}