@import '../../../../scss/imports';

:host {
  ::ng-deep {
    input[type="radio"] {
      display: none;
      + label {
        @extend %block-relative-fw;
        padding: 5px 5px 0;
      }
      &:checked {
        + label {
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}