<div>
  {{ (weather | async)?.location.city }}
  {{ (weather | async)?.location.country }}
  {{ (weather | async)?.location.lat }}
  {{ (weather | async)?.location.long }}
  {{ (weather | async)?.location.region }}
  {{ (weather | async)?.location.timezone_id }}


  {{ (weather | async)?.current_observation.wind.chill // there is no chill }} 
  {{ (weather | async)?.current_observation.wind.direction }}
  {{ (weather | async)?.current_observation.wind.speed }}

  {{ (weather | async)?.current_observation.atmosphere.humidity }}
  {{ (weather | async)?.current_observation.atmosphere.visibility }}
  {{ (weather | async)?.current_observation.atmosphere.pressure }}
  {{ (weather | async)?.current_observation.atmosphere.rising }}

  {{ (weather | async)?.current_observation.astronomy.sunrise }}
  {{ (weather | async)?.current_observation.astronomy.sunset }}
  
  {{ (weather | async)?.current_observation.condition.text }}
  {{ (weather | async)?.current_observation.condition.code }}
  {{ (weather | async)?.current_observation.condition.temperature }}

  {{ (weather | async)?.current_observation.condition.pubDate }}


</div>

<ul>
  <li *ngFor="let forecast of (weather | async)?.forecasts">
    {{ forecast.day }}
    {{ forecast.date }}
    {{ forecast.low }}
    {{ forecast.high }}
    {{ forecast.text }}
  </li>
</ul>