<div class="container" [ngClass]="setWeatherClass()">
  <div>
    <form [formGroup]="searchForm" (submit)="onSearchSubmit()">
      <text-input [name]="'city'" [label]="'City: ex/ Toronto, ON'" [hasBtn]="true" [fieldValue]="searchForm.get('city')?.value">
        <input inputRef field id="city" type="text" name="city" formControlName="city" />
        <button field-button type="submit" [disabled]='processing'><i class="fas fa-search-location"></i></button>
      </text-input>
    </form>
  </div>
  <div>
    <weather-card>
      <span city-name>{{ weather?.location.city }}</span>
      <span country-name>{{ weather?.location.country }}</span>
      <span sunrise>{{ weather?.current_observation.astronomy.sunrise }}</span>
      <span sunset>{{ weather?.current_observation.astronomy.sunset }}</span>
    </weather-card>
    
    
   <!--  {{ weather?.location.lat }}
    {{ weather?.location.long }}
    {{ weather?.location.region }}
    {{ weather?.location.timezone_id }}


    {{ weather?.current_observation.wind.chill // there is no chill }} 
    {{ weather?.current_observation.wind.direction }}
    {{ weather?.current_observation.wind.speed }}

    {{ weather?.current_observation.atmosphere.humidity }}
    {{ weather?.current_observation.atmosphere.visibility }}
    {{ weather?.current_observation.atmosphere.pressure }}
    {{ weather?.current_observation.atmosphere.rising }}

    
    {{ weather?.current_observation.condition.text }}
    {{ weather?.current_observation.condition.code }}
    {{ weather?.current_observation.condition.temperature }}

    {{ weather?.current_observation.pubDateTimeIso }} -->


  </div>

  <div>
    <!-- <ul>
      <li *ngFor="let forecast of weather?.forecasts">
        {{ forecast.day }}
        {{ forecast.dateTimeIso }}
        {{ forecast.low }}
        {{ forecast.high }}
        {{ forecast.text }}
      </li>
    </ul> -->
  </div>
</div>