<div class="container">
  <h1><ng-content select="[city-name]"></ng-content></h1>
  <p><ng-content select="[country-name]"></ng-content></p>
  <ng-content select="[sunrise]"></ng-content>
  <ng-content select="[sunset]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
  <ng-content select="[]"></ng-content>
</div>