.condition_0 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_1 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_2 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_3 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_4 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_5 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_6 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_7 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_8 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_9 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_10 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_11 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_12 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_13 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_14 {
  background: url('/assets/img/light_snow.jpg') center center / cover;
}
.condition_15 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_16 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_17 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_18 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_19 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_20 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_21 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_22 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_23 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_24 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_25 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_26 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_27 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_28 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_29 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_30 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_31 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_32 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_33 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_34 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_35 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_36 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_37 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_38 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_39 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_40 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_41 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_42 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_43 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_44 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_45 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_46 {
  background: url('/assets/img/snow.jpg') center center / cover;
}
.condition_47 {
  background: url('/assets/img/snow.jpg') center center / cover;
}