// colors
$text-light-theme: #000;

// font-family
$font-family-default: 'Roboto', Arial, sans-serif;

// font-size
$base-font-size: 16px;
$city-name-small: 1.7rem;
$input-font-size: 1rem;
$label-focus-font-size: 0.78rem;

// font-weight
$font-weight-normal: 400;
$font-weight-bold: 700;

// heights
$header-height-small: 200px;
$input-height: 56px;

// line-height {
$base-line-height: 1.25em;

// margins
$bottom-margin: 1rem;

// padding
$card-header-padding-small: 10px;
$input-padding: 28px 10px 10px;
$input-padding-with-button: 28px 66px 10px 10px;
$input-padding-with-selector: 28px 122px 10px 10px;
$input-padding-with-btn-and-sel: 28px 178px 10px 10px;
$label-init-padding: 18px 10px;
$label-focus-padding: 5px 10px 0;
